.conteudo{
    flex: 1;
    padding:30px;
}

.conteudo h1{
    margin-bottom: 20px;

}
.conteudo-input{
    width: 100%;
    padding:14px;
    border-radius:12px;
    border:1px solid #E2E8F0;
    outline: none;
}

.conteudo-input:focus{
    border-color: #0891B2;
}

